In [1]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Collecting ipython-sql',
 '  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.4.22)',
 'Requirement already satisfied: ipython>=1.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (7.29.0)',
 'Collecting sqlparse',
 '  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)',
 'Collecting prettytable<1',
 '  Downloading prettytable-0.7.2.zip (28 kB)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: six in /opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)',
 'Requirement already satisfied: pickleshare in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: traitlets>=4.2 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)',
 'Requirement already satisfied: backcall in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)',
 'Requirement already satisfied: appnope in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)',
 'Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)',
 'Requirement already satisfied: pygments in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)',
 'Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)',
 'Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)',
 'Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)',
 'Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)',
 'Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)',
 'Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)',
 'Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)',
 'Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)',
 'Building wheels for collected packages: prettytable',
 '  Building wheel for prettytable (setup.py): started',
 "  Building wheel for prettytable (setup.py): finished with status 'done'",
 '  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=454826e4fc2da229e9da156da06bb5dc61005094607734c6d3eff56dd8cf4132',
 '  Stored in directory: /Users/sametsengun/Library/Caches/pip/wheels/75/f7/28/77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b',
 'Successfully built prettytable',
 'Installing collected packages: sqlparse, prettytable, ipython-sql',
 'Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2']

# Bağlantı

In [2]:
%load_ext sql

In [4]:
%sql sqlite:///vbo.db

In [5]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

# Manuel Tablo Oluşturma İşlemleri

In [6]:
%%sql
CREATE TABLE yeni_tablo(firstname varchar(20),
                       lastname varchar(20));

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[]

In [9]:
%%sql
INSERT INTO yeni_tablo values('Ali','Uzaya_Git');

 * sqlite:///vbo.db
   sqlite:///vbo.dp
1 rows affected.

[]

In [14]:
%%sql
SELECT * FROM yeni_tablo;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[('Mehmet', 'Soyadi'), ('Ali', 'Uzaya_Git')]

In [15]:
%%sql
INSERT INTO yeni_tablo values('Işık','Süte_Devam');

 * sqlite:///vbo.db
   sqlite:///vbo.dp
1 rows affected.

[]

In [16]:
%%sql
SELECT * FROM yeni_tablo;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[('Mehmet', 'Soyadi'), ('Ali', 'Uzaya_Git'), ('Işık', 'Süte_Devam')]

# SELECT İşlemleri

## 1

In [23]:
%sql SELECT * FROM Products LIMIT 5;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21)]

In [24]:
%%sql
SELECT * FROM Products LIMIT 5;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21)]

In [25]:
%%sql
SELECT name FROM sqlite_master WHERE type = 'table';

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[('Products',),
 ('Categories',),
 ('Customers',),
 ('Employees',),
 ('Orders',),
 ('OrderDetails',),
 ('Shippers',),
 ('Suppliers',),
 ('yeni_tablo',)]

In [26]:
%%sql
SELECT * FROM Customers WHERE 1=0;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[]

In [27]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

In [32]:
%%sql
SELECT CustomerName,City,Country FROM Customers LIMIT 5;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[('Alfreds Futterkiste', 'Berlin', 'Germany'),
 ('Ana Trujillo Emparedados y helados', 'México D.F.', 'Mexico'),
 ('Antonio Moreno Taquería', 'México D.F.', 'Mexico'),
 ('Around the Horn', 'London', 'UK'),
 ('Berglunds snabbköp', 'Luleå', 'Sweden')]

## 2

In [33]:
%%sql
SELECT * FROM Products LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]

### Matematiksel İşlemler

In [36]:
%%sql
SELECT Price, Price*3 FROM Products LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(18, 54), (19, 57), (10, 30)]

In [35]:
%%sql
SELECT Price, Price*3, Price*3-100 FROM Products LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(18, 54, -46), (19, 57, -43), (10, 30, -70)]

### Alias: Takma İsim, Kısayol

In [38]:
%%sql
SELECT Price AS ilk_price, Price*3 AS yeni_price, Price*3-100 AS islemli_price FROM Products LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(18, 54, -46), (19, 57, -43), (10, 30, -70)]

### Count

In [39]:
%%sql
SELECT COUNT(*) FROM Customers;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(91,)]

In [40]:
%%sql
SELECT COUNT(*) AS satir_sayisi FROM Customers;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(91,)]

### Order By

In [41]:
%%sql
SELECT * FROM Products LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]

In [43]:
%%sql
SELECT * FROM Products ORDER BY Price LIMIT 10;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(13, 'Konbu', 6, 8, '2 kg box', 6),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14)]

In [44]:
%%sql
SELECT * FROM Products ORDER BY Price DESC LIMIT 10;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 435),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46)]

# WHERE İşlemleri

***Tablolarda filtreleme işlemleri yapmak için kullanılır.***

## 1

In [46]:
%%sql
SELECT * FROM Customers LIMIT 10;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')]

### Text ya da String Seçim

In [51]:
%%sql
SELECT * FROM Customers WHERE Country = 'Sweden';

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (24, 'Folk och fä HB', 'Maria Larsson', 'Åkergatan 24', 'Bräcke', 'S-844 67', 'Sweden')]

In [54]:
%%sql
SELECT * FROM Customers WHERE NOT City = 'Berlin' LIMIT 10;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK')]

### Numerik/Sayısal Seçim

In [55]:
%%sql
SELECT * FROM Customers WHERE PostalCode = 5021;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico')]

In [57]:
%%sql
SELECT * FROM Customers WHERE PostalCode > 5021 LIMIT 10;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (17, 'Drachenblut Delikatessend', 'Sven Ottlieb', 'Walserweg 21', 'Aachen', '52066', 'Germany')]

## 2

### And-Or İfadeleri

In [59]:
%%sql
SELECT * FROM Customers WHERE Country = "UK" AND City = 'London';

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK')]

In [63]:
%%sql
SELECT * FROM Customers WHERE Country = "UK" OR Country = 'USA';

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (38, 'Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

In [61]:
%%sql
SELECT * FROM Customers WHERE (Country = "UK" AND City = 'London') OR (Country = 'USA');

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (11, "B's Beverages", 'Victoria Ashworth', 'Fauntleroy Circus', 'London', 'EC2 5NT', 'UK'),
 (16, 'Consolidated Holdings', 'Elizabeth Brown', 'Berkeley Gardens 12 Brewery', 'London', 'WX1 6LT', 'UK'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (53, 'North/South', 'Simon Crowther', 'South House 300 Queensbridge', 'London', 'SW7 1RZ', 'UK'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (72, 'Seven Seas Imports', 'Hari Kumar', '90 Wadhurst Rd.', 'London', 'OX15 4NB', 'UK'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

In [64]:
%%sql
SELECT * FROM Customers WHERE Country = "USA" AND (City = 'Eugene' OR City = 'Elgin') ;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')]

In [66]:
%%sql
SELECT * FROM Customers WHERE Country = "USA" AND PostalCode = 97403 AND (City = 'Eugene' OR City = 'Elgin') ;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA')]

## 3

### IN/NOT IN Kullanımı

In [69]:
%%sql
SELECT * FROM Customers WHERE CustomerID IN (1,3,5,7);

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France')]

In [70]:
%%sql
SELECT * FROM Customers WHERE Country = "USA" AND City IN ('Eugene','Elgin') ;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA')]

In [72]:
%%sql
SELECT * FROM Customers WHERE CustomerID NOT IN (1,3,5,7) LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany')]

In [74]:
%%sql
SELECT * FROM Customers WHERE Country = "USA" AND City NOT IN ('Eugene','Elgin') ;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

## 4

### LIKE ile Seçim işlemleri

* 'a%' : “a” ile başlayan değerler
* '%a' : “a” ile biten değerler
* %or%' : herhangi bir yerinde “or” olan değerler
* '_r%' : ikinci sirasında “r” olan değerler
* 'a%%' : “a” ile başlayıp en az 3 karakterden oluşan değerler
* 'a%o' : “a” ile başlayıp “o” ile biten değerler

In [75]:
 %%sql
SELECT * FROM Customers LIMIT 10;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (4, 'Around the Horn', 'Thomas Hardy', '120 Hanover Sq.', 'London', 'WA1 1DP', 'UK'),
 (5, 'Berglunds snabbköp', 'Christina Berglund', 'Berguvsvägen 8', 'Luleå', 'S-958 22', 'Sweden'),
 (6, 'Blauer See Delikatessen', 'Hanna Moos', 'Forsterstr. 57', 'Mannheim', '68306', 'Germany'),
 (7, 'Blondel père et fils', 'Frédérique Citeaux', '24, place Kléber', 'Strasbourg', '67000', 'France'),
 (8, 'Bólido Comidas preparadas', 'Martín Sommer', 'C/ Araquil, 67', 'Madrid', '28023', 'Spain'),
 (9, "Bon app'", 'Laurence Lebihans', '12, rue des Bouchers', 'Marseille', '13008', 'France'),
 (10, 'Bottom-Dollar Marketse', 'Elizabeth Lincoln', '23 Tsawassen Blvd.', 'Tsawassen', 'T2F 8M4', 'Canada')]

In [82]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE '%a';

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (30, 'Godos Cocina Típica', 'José Pedro Freyre', 'C/ Romero, 33', 'Sevilla', '41101', 'Spain'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (90, 'Wilman Kala', 'Matti Karttunen', 'Keskuskatu 45', 'Helsinki', '21240', 'Finland')]

In [84]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE '_a%';

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(12, 'Cactus Comidas para llevar', 'Patricio Simpson', 'Cerrito 333', 'Buenos Aires', '1010', 'Argentina'),
 (19, 'Eastern Connection', 'Ann Devon', '35 King George', 'London', 'WX3 6FW', 'UK'),
 (21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil'),
 (29, 'Galería del gastrónomo', 'Eduardo Saavedra', 'Rambla de Cataluña, 23', 'Barcelona', '8022', 'Spain'),
 (34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Paço, 67', 'Rio de Janeiro', '05454-876', 'Brazil'),
 (40, "La corne d'abondance", 'Daniel Tonini', "67, avenue de l'Europe", 'Versailles', '78000', 'France'),
 (41, "La maison d'Asie", 'Annette Roulet', '1 rue Alsace-Lorraine', 'Toulouse', '31000', 'France'),
 (42, 'Laughing Bacchus Wine Cellars', 'Yoshi Tannamuri', '1900 Oak St.', 'Vancouver', 'V3F 2K1', 'Canada'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (49, 'Magazzini Alimentari Riuniti', 'Giovanni Rovelli', 'Via Ludovico il Moro 22', 'Bergamo', '24100', 'Italy'),
 (50, 'Maison Dewey', 'Catherine Dewey', 'Rue Joseph-Bens 532', 'Bruxelles', 'B-1180', 'Belgium'),
 (57, 'Paris spécialités', 'Marie Bertrand', '265, boulevard Charonne', 'Paris', '75012', 'France'),
 (64, 'Rancho grande', 'Sergio Gutiérrez', 'Av. del Libertador 900', 'Buenos Aires', '1010', 'Argentina'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (70, 'Santé Gourmet', 'Jonas Bergulfsen', 'Erling Skakkes gate 78', 'Stavern', '4110', 'Norway'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (83, 'Vaffeljernet', 'Palle Ibsen', 'Smagsløget 45', 'Århus', '8200', 'Denmark'),
 (87, 'Wartian Herkku', 'Pirkko Koskitalo', 'Torikatu 38', 'Oulu', '90110', 'Finland')]

In [87]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE '%fra%';

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(25, 'Frankenversand', 'Peter Franken', 'Berliner Platz 43', 'München', '80805', 'Germany'),
 (26, 'France restauration', 'Carine Schmitt', '54, rue Royale', 'Nantes', '44000', 'France'),
 (27, 'Franchi S.p.A.', 'Paolo Accorti', 'Via Monte Bianco 34', 'Torino', '10100', 'Italy')]

In [103]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE 'A%' AND Country LIKE '%o';

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

## 5

### BETWEEN

In [104]:
%%sql
SELECT * FROM Products LIMIT 10;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31)]

In [105]:
%%sql
SELECT * FROM Products WHERE Price BETWEEN 10 AND 20 LIMIT 10;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18)]

In [106]:
%%sql
SELECT * FROM Products WHERE Price NOT BETWEEN 10 AND 20 LIMIT 10;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38),
 (13, 'Konbu', 6, 8, '2 kg box', 6)]

In [120]:
%%sql
SELECT * FROM Products WHERE (Price BETWEEN 10 AND 20) AND (CategoryID NOT IN (1,2,3));

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12),
 (54, 'Tourtière', 25, 6, '16 pies', 16),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10)]

In [124]:
%%sql
SELECT Price AS ücret,CategoryID AS kategori_kimliği FROM Products WHERE (Price BETWEEN 10 AND 20) AND (CategoryID NOT IN (1,2,3));

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(19, 8), (14, 5), (12, 8), (16, 6), (13, 8), (15, 8), (10, 7)]

In [126]:
%%sql
SELECT * FROM Products WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Govanni';

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31),
 (13, 'Konbu', 6, 8, '2 kg box', 6),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 43),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 43),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 435),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32),
 (33, 'Geitost', 15, 4, '500 g', 43),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 23),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 27),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 43),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36),
 (71, 'Fløtemysost', 15, 4, '10 - 500 g pkgs.', 21),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18)]

# Aggregation Fonksiyonları: Temel İstatiksel İşlemler

In [127]:
%%sql
SELECT * FROM Products LIMIT 10;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31)]

In [130]:
%%sql
SELECT MIN(Price) FROM Products;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(6,)]

In [131]:
%%sql
SELECT MAX(Price) FROM Products;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(435,)]

In [133]:
%%sql
SELECT MIN(Price) AS min_fiyat,MAX(Price) AS max_fiyat FROM Products;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(6, 435)]

In [135]:
%%sql
SELECT AVG(Price) AS fiyat_ortalama FROM Products;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(39.15584415584416,)]

In [138]:
%%sql
SELECT SUM(Price) AS 'Fiyat Toplamı' FROM Products;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(3015,)]

In [139]:
%%sql
SELECT MIN(Price),MAX(Price), AVG(Price), SUM(Price) FROM Products;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(6, 435, 39.15584415584416, 3015)]

In [142]:
%%sql
SELECT COUNT(*),MIN(Price),MAX(Price), AVG(Price), SUM(Price) FROM Products;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(77, 6, 435, 39.15584415584416, 3015)]

# GROUP BY ve Aggregation Fonksiyonları

In [145]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

In [151]:
%%sql
SELECT COUNT(CustomerID) AS MUSTERI_SAYISI, Country FROM Customers GROUP BY Country ORDER BY MUSTERI_SAYISI DESC;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(13, 'USA'),
 (11, 'Germany'),
 (11, 'France'),
 (9, 'Brazil'),
 (7, 'UK'),
 (5, 'Spain'),
 (5, 'Mexico'),
 (4, 'Venezuela'),
 (3, 'Italy'),
 (3, 'Canada'),
 (3, 'Argentina'),
 (2, 'Switzerland'),
 (2, 'Sweden'),
 (2, 'Portugal'),
 (2, 'Finland'),
 (2, 'Denmark'),
 (2, 'Belgium'),
 (2, 'Austria'),
 (1, 'Poland'),
 (1, 'Norway'),
 (1, 'Ireland')]

In [154]:
%%sql
SELECT * FROM Products LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]

In [160]:
%%sql
SELECT CategoryID AS "Kategori ID",AVG(Price) AS "Ortalama Fiyat" FROM Products GROUP BY CategoryID ORDER BY "Ortalama Fiyat" DESC ;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(4, 74.9),
 (6, 55.166666666666664),
 (1, 42.75),
 (3, 33.76923076923077),
 (7, 32.2),
 (2, 28.25),
 (8, 26.5),
 (5, 23.571428571428573)]

# JOIN İşlemleri

## 1

In [161]:
%%sql 
SELECT name FROM sqlite_master WHERE type = 'table';

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[('Products',),
 ('Categories',),
 ('Customers',),
 ('Employees',),
 ('Orders',),
 ('OrderDetails',),
 ('Shippers',),
 ('Suppliers',),
 ('yeni_tablo',)]

In [162]:
%%sql
SELECT * FROM Categories LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (3, 'Confections', 'Desserts, candies, and sweet breads')]

In [163]:
%%sql
SELECT * FROM Products LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10)]

### LEFT JOIN (sqlite için LEFT OUTER JOIN)

In [165]:
%%sql
SELECT * FROM Products LEFT OUTER JOIN Categories ON Products.CategoryID = Categories.CategoryID LIMIT 5;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings')]

In [167]:
%%sql
SELECT Products.ProductName AS "Ürün İsmi",Categories.CategoryID AS "Kategori Kimliği",Categories.CategoryName AS "Kategori İsmi" FROM Products LEFT OUTER JOIN Categories ON Products.CategoryID = Categories.CategoryID LIMIT 5;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[('Chais', 1, 'Beverages'),
 ('Chang', 1, 'Beverages'),
 ('Aniseed Syrup', 2, 'Condiments'),
 ("Chef Anton's Cajun Seasoning", 2, 'Condiments'),
 ("Chef Anton's Gumbo Mix", 2, 'Condiments')]

In [173]:
# Kısaltmalar

In [172]:
%%sql
SELECT PR.ProductName AS "Ürün İsmi",CA.CategoryID AS "Kategori Kimliği",CA.CategoryName AS "Kategori İsmi" FROM Products AS PR LEFT OUTER JOIN  Categories AS CA ON PR.CategoryID = CA.CategoryID LIMIT 5;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[('Chais', 1, 'Beverages'),
 ('Chang', 1, 'Beverages'),
 ('Aniseed Syrup', 2, 'Condiments'),
 ("Chef Anton's Cajun Seasoning", 2, 'Condiments'),
 ("Chef Anton's Gumbo Mix", 2, 'Condiments')]

In [174]:
%%sql
SELECT PR.ProductName AS "Ürün İsmi",CA.CategoryID AS "Kategori Kimliği",CA.CategoryName AS "Kategori İsmi" FROM Products PR LEFT OUTER JOIN Categories CA ON PR.CategoryID = CA.CategoryID LIMIT 5;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[('Chais', 1, 'Beverages'),
 ('Chang', 1, 'Beverages'),
 ('Aniseed Syrup', 2, 'Condiments'),
 ("Chef Anton's Cajun Seasoning", 2, 'Condiments'),
 ("Chef Anton's Gumbo Mix", 2, 'Condiments')]

## 2

### INNER JOIN

In [175]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

In [176]:
%%sql
SELECT * FROM Orders LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(10248, 90, 5, '4.07.1996', 3),
 (10249, 81, 6, '5.07.1996', 1),
 (10250, 34, 4, '8.07.1996', 2)]

In [184]:
%%sql
SELECT Orders.OrderID, Customers.CustomerName FROM Orders INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID LIMIT 3;

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(10248, 'Wilman Kala'),
 (10249, 'Tradição Hipermercados'),
 (10250, 'Hanari Carnes')]

In [182]:
%%sql
SELECT COUNT(*) FROM (SELECT Orders.OrderID, Customers.CustomerName FROM Orders INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID);

 * sqlite:///vbo.db
   sqlite:///vbo.dp
Done.

[(196,)]